@import "tailwindcss";

/* Dark themed scrollbar */
.slate-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.slate-scrollbar::-webkit-scrollbar-track {
  background: #1e293b; /* dark slate */
}

.slate-scrollbar::-webkit-scrollbar-thumb {
  background-color: #334155; /* darker thumb */
  border-radius: 4px;
}

.slate-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #475569; /* hover lighter */
}

/* Firefox */
.slate-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #334155 #1e293b;
}
